@import url("https://fonts.googleapis.com/css?family=Roboto");
h1, h2, h3, p, ul, li, a, label, input {
  font-family: "Roboto", sans-serif;
  line-height: 1.5em; }

p, li, a, label, input {
  font-size: 14px; }

h1 {
  color: #5898D8;
  font-size: 32px; }

h2 {
  font-size: 28px; }

h3 {
  font-size: 22px; }

p.error {
  color: #CA3E41; }

form.login-form input, form.address-form input {
  width: 40%;
  display: block;
  margin: 10px auto; }

form.login-form button, form.address-form button {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  background-color: #8CD7FC;
  color: #FFF;
  border: none;
  width: 40%;
  display: block;
  margin: 20px auto; }

.form-container {
  margin: 0 auto;
  display: block;
  width: 100%;
  text-align: center; }

.rep-photo-container {
  width: 150px;
  height: 150px;
  max-width: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto; }

img.rep-photo {
  display: block;
  margin: 0 auto;
  height: 130%; }

p.rep-names {
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto; }
