button {
  font-size: $paragraph-size;
  font-weight: 600;
  text-transform: uppercase;
  background-color: $lightblue-color;
  color: #FFF;
  border: none;
  padding: 11px;
  width: 100px;
  margin: 10px;
}