form.login-form, form.address-form {
   input {
    width: 40%;
    display: block;
    margin: 10px auto;
    }
    button {
    font-size: $paragraph-size;
    font-weight: 600;
    text-transform: uppercase;
    background-color: $lightblue-color;
    color: #FFF;
    border: none;
    width: 40%;
    display: block;
    margin: 20px auto;
  }
}

.form-container {
  margin: 0 auto;
  display: block;
  width: 100%;
  text-align: center;
}